.env
node_modules/
vendor/
!public/assets/vendor/
!public/assets/vendor/bootstrap/
!public/assets/vendor/bootstrap/css/
!public/assets/vendor/bootstrap/css/bootstrap.min.css
!public/assets/vendor/bootstrap/js/
!public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js
.phpunit.cache/
.DS_Store
images /
storage/logs/*.log
!storage/logs/.gitkeep
public/uploads/recipes/*
!public/uploads/recipes/.gitkeep
!public/uploads/recipes/.htaccess
